<div
  class="flex max-[400px]:text-sm max-[850px]:flex-col max-[850px]:justify-center max-[850px]:items-center max-[850px]:gap-5 justify-between px-20 py-10 bg-[#111111]"
>
  <div class="flex flex-col gap-1 justify-start items-start">
    <img class="h-[80px]" src="../../assets/Logo/companylogo.png" />
    <div class="text-white">
      <div>Founder and CEO: Mrs. Swathi Gunasekar BE, ME,.</div>
      <div>HEAD OFFICE: No 165, Amruthanagar Main Road,</div>
      <div>Amruthahalli, Bangalore-560 092,</div>
      <div>Karnataka, India.</div>
      <div>
        <span class="font-bold mr-1">Phone:</span>9739561204, 9741279204,
        9442456944
      </div>
      <div>
        <span class="font-bold mr-1">Email:</span>infowatag&#64;gmail.com,
        jmwatag&#64;gmail.com
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-3 items-end max-[850px]:items-center">
    <div class="flex gap-3">
      <a href="https://www.instagram.com/" target="_blank"
        ><img
          class="h-8 w-8 cursor-pointer"
          src="../../assets/Icons/instagram.png"
      /></a>
      <a href="https://x.com/" target="_blank"
        ><img
          class="h-8 w-8 cursor-pointer"
          src="../../assets/Icons/twitter.png"
      /></a>
      <a href="https://www.facebook.com/" target="_blank"
        ><img
          class="h-8 w-8 cursor-pointer"
          src="../../assets/Icons/facebook (1).png"
      /></a>
    </div>
    <div class="text-white text-xs">Copyright WatAgTechnologies 2024</div>
  </div>
</div>
<!-- gunavrp&#64;gmail.com -->
