<!--Header-->
<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[300px] flex justify-center items-center mt-[80px]"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <h1
      class="relative text-5xl font-bold text-white px-40 py-10 max-[450px]:text-3xl max-[450px]:px-10 max-[720px]:text-4xl max-[720px]:px-20 border-2 border-white"
    >
      CONTACT
    </h1>
  </div>
  <!--Location-->
  <div
    class="flex flex-col gap-10 justify-center items-center max-[420px]:mx-0 max-[420px]:my-10 m-10 mb-20"
  >
    <h2 class="text-2xl">
      <span class="text-[var(--primary)] mr-2">OUR</span
      ><span class="font-bold">LOCATION</span>
    </h2>
    <div class="grid gap-x-48 gap-y-10">
      <div class="flex flex-col gap-2">
        <div>
          <span class="font-bold mr-1 text-[var(--primary)]"
            >Founder and CEO:</span
          >Mrs.&nbsp;Swathi Gunasekar&nbsp;BE,&nbsp;ME,.
        </div>
        <div>
          <div>
            <span class="font-bold mr-1 text-[var(--primary)]"
              >Head Office:</span
            >No 165,&nbsp;Amruthanagar Main&nbsp;Road,
          </div>
          <div>Amruthahalli,&nbsp;Bangalore-560 092</div>
          <div>Karnataka,&nbsp;India.</div>
        </div>
        <div>
          <div>
            <span class="font-bold mr-1 text-[var(--primary)]"
              >Branch Office:</span
            >No. 209A,&nbsp;Raja street,
          </div>
          <div>Chengam,&nbsp;Thiruvannamalai&nbsp;District-606 701,</div>
          <div>Tamilnadu,&nbsp;India.</div>
        </div>
        <div>
          <span class="font-bold mr-1 text-[var(--primary)]">Phone:</span
          >9739561204,&nbsp;9741279204,&nbsp;9442456944
        </div>
        <div>
          <span class="font-bold mr-1 text-[var(--primary)]">Email:</span
          >infowatag&#64;gmail.com,&nbsp;jmwatag&#64;gmail.com
        </div>
      </div>
    </div>
  </div>
  <!--Contact-form-->
  <app-contact-form-two id="ContactPageContact"></app-contact-form-two>
</div>
<!--Footer-->
<app-footer />
