<!--Header-->
<app-header />
<!--Banner-->
<div
  class="w-full h-[400px] flex flex-col gap-10 justify-center items-center mt-[80px]"
  style="
    background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
    background-size: cover;
  "
>
  <div
    class="relative text-5xl text-center font-bold text-white px-40 max-[450px]:text-3xl max-[450px]:px-10 max-[720px]:text-4xl max-[720px]:px-20 py-10  border-2 border-white"
  >
    <h1>Gallery</h1>
    <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
  </div>  
  <div
    (click)="scrollToTableTop('GalleryPageContact')"
    class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-[var(--primary)] text-white"
  >
    Get proposal
  </div>
</div>
<!--gallery-->
<div class="flex items-center justify-center">
  <div class="grid grid-cols-3 max-[420px]:grid-cols-1 max-[650px]:grid-cols-2 py-20 w-fit gap-2">
    <div *ngFor="let img of galleryPhotos">
      <img
        (click)="PopUp(true, img)"
        class="cursor-pointer min-w-[200px] min-h-[200px] max-w-[200px] max-h-[200px] object-cover border rounded-lg"
        [src]="img.src"
      />
    </div>
  </div>
</div>

<!--Contact-->
<app-contact-form-one id="GalleryPageContact"></app-contact-form-one>
<!--Footer-->
<app-footer />

<!--Popup-->
<div
  *ngIf="this.popup"
  class="fixed top-0 flex flex-col gap-2 h-[100vh] w-full bg-slate-500 justify-center items-center bg-opacity-80 z-[99]"
>
<div class="self-end pr-10 max-[400px]:pr-2">
  <img
  src="../../assets/Icons/icons8-close-100 (1).png"
  (click)="PopUp(false, '')"
  class="w-10 h-10 p-2 rounded-full bg-white cursor-pointer"
  title="close"
  />
</div>

  <div class="flex gap-5 max-[400px]:gap-1 w-full justify-center items-center">
   
    <img
      id="ZoomInImg"
      class="h-[480px] w-[700px] max-[620px]:h-[300px] max-[620px]:w-[300px] max-[820px]:w-[500px] rounded-lg shadow-2xl shadow-slate-950"
      [src]="this.zoomImg?.src"
    />
 
  
  </div>
  <div class="flex gap-10">
    <img (click)="moveSlides('backward')"
    class="cursor-pointer w-12 h-12 rotate-180 p-2 bg-white rounded"
    src="../../assets/Icons/icons8-right-arrow-100.png"
  />
    <img
    (click)="moveSlides('forward')"
    class="cursor-pointer w-12 h-12 p-2 bg-white rounded"
    src="../../assets/Icons/icons8-right-arrow-100.png"
  />
  </div>

</div>
